h2 {
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  margin: 20px;

}

.slider {
 // width: 750px;
  height: 300px;
  background-color: lightblue;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;


  .slider__button {
    width: 45px;
    height: 45px;
    border: 2px solid grey;
    border-radius: 10%;
  }

  .slider__button_prev {
    background: url("../img/left-arrow.png") no-repeat center/contain;
  }

  .slider__button_next {
    background: url("../img/right-arrow.png") no-repeat center/contain;
  }

  .slider__toolbar {
    overflow: hidden;
    //width: 600px;
    display: inline-block;
  }

  .slider__list {
    width: 1450px;
    transition: all ease 1s;

    &::after {
      content: "";
      clear: both;
      display: block;
    }
  }

  .slider__slide {
    width: 200px;
    height: 150px;
    padding: 0 3px;
    float: left;
  }

  .visible {
    display: inline;
  }

  .hidden {
  //  display: none;
  }
}




